.calendar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.scroll-container {
  margin-top: 10px;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
  background-color: pink;
}

app-date-picker {
  flex-shrink: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
}

app-list {
  display: block;
  width: 100%;
}
