<div class="calendar-container">
  <div class="desktop-container">
    <button class="add-event-button" (click)="openAddEventDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <app-date-picker
      [viewDate]="viewDate"
      [dayOfWeekAbbreviations]="dayOfWeekAbbreviations"
      [currentWeekDays]="currentWeekDays"
      [currentMonthDays]="currentMonthDays"
      (changeStep)="onChangeStep($event)"
      (viewModeChange)="onViewModeChange($event)"
    ></app-date-picker>
  </div>
  <app-list
    class="scroll-container"
    (scroll)="onScroll()"
    [viewDate]="viewDate"
    [events]="events"
    [listView]="listView"
    [groupedEventsByDate]="groupedEventsByDate"
  ></app-list>
</div>
