.calendar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.scroll-container {
  margin-top: 10px;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
}

app-date-picker {
  flex-shrink: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
}

app-list {
  display: block;
  width: 100%;
}

.add-event-button {
  width: 56px;
  height: 56px;
  color: white;
  font-size: 36px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 20;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #2778d5;
  position: absolute;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
}
