<div class="calendar-container">
  <app-date-picker
    [viewDate]="viewDate"
    [dayPickerSelectedDate]="dayPickerSelectedDate"
    [dayAbbreviations]="dayAbbreviations"
    [currentWeek]="currentWeek"
    [monthDays]="monthDays"
    (changeStep)="onChangeStep($event)"
  ></app-date-picker>

  <app-list
    class="scroll-container"
    (scroll)="onScroll()"
    [viewDate]="viewDate"
    [events]="events"
    [listView]="listView"
    [groupedEventsByDate]="groupedEventsByDate"
  ></app-list>

  <button class="add-event-button" (click)="openAddEventDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
