/* BASE LAYOUT */
.calendar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.scroll-container {
  margin-top: 10px;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
}

app-date-picker {
  flex-shrink: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
}

app-list {
  display: block;
  width: 100%;
}

.add-event-button {
  width: 56px;
  height: 56px; /* Your chosen blue color */
  color: white;
  font-size: 36px; /* Icon size adjustment */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 20;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* MOBILE LAYOUT */
@media (max-width: 1023px) {
  .calendar-container {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .add-event-button {
    background-color: #2778d5;
    position: absolute;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
  }
}

/* DESKTOP LAYOUT */
@media (min-width: 1024px) {
  .calendar-container {
    display: flex;
    flex-direction: row;
    height: auto;
    overflow: initial;
  }

  .desktop-container {
    display: flex;
    flex-direction: column;
    background: pink;
    align-items: center;
  }

  app-date-picker {
    width: 300px; /* Adjust the width of the date picker */
    position: sticky; /* Makes the date picker stay at the top of the scrollable area */
    top: 0; /* Sticks to the top of the screen/container */
    background-color: white;
    z-index: 10; /* Ensures it stays above other elements */
  }

  .scroll-container {
    margin-top: 0; /* Removes the top margin */
    flex-grow: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    min-height: 0;
    max-height: calc(
      100vh - 60px
    ); /* Makes the scroll area fill the available space below the sticky date picker */
  }

  .add-event-button {
    position: relative;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
