.calendar-list-view {
  background-color: #fff;

  .date-header-container {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    position: sticky;
    z-index: 1;
    top: -1px;
    margin-top: 0px;
    margin-bottom: 5px;
    flex-direction: column;
    background-color: #fff;
  }

  .date-header {
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
  }

  .date-sub-header {
    font-size: 14px;
    color: #333;
    background-color: #fff;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #e1e1e1;
      border-radius: 5px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      box-shadow: 0 1px 0 rgb(0 0 0 / 10%);

      &:hover {
        background-color: #ededed;
      }

      .event-time {
        font-size: 14px;
        color: #555;
      }

      .event-title {
        font-size: 16px;
        font-weight: bold;
        margin-right: 5px;
      }

      .event-location {
        font-size: 12px;
        color: #555;
      }
    }
  }
}

.date-stepper {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  background-color: #f5f5f5;
}

.date-stepper div {
  flex: 0 0 auto;
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
}

.selected {
  background-color: #0078d4;
  color: white;
  border-radius: 20px;
}

.event-list {
  max-height: 400px;
  overflow-y: auto;
}

.event-group-container {
  padding: 0 16px;

  .no-events {
    display: flex;
    justify-content: start;
    align-items: start;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  }
}

cdk-virtual-scroll-viewport {
  flex-grow: 1;
  height: 100%; /* Ensure it uses the parent container's height */
}
