<div class="calendar-list-view">
  <div
    class="event-group-container"
    *ngFor="let eventGroup of groupedEventsByDate"
    [attr.id]="eventGroup.dateLabel | date : 'yyyy-MM-dd' : 'Europe/Stockholm'"
  >
    <!-- Period label -->
    <div class="date-header-container">
      <span class="date-header">
        {{ eventGroup.dateLabel | date : "EEE d" : "Europe/Stockholm" }}
      </span>

      <span class="date-sub-header">
        {{ eventGroup.dateLabel | date : "MMM yyyy" : "Europe/Stockholm" }}
      </span>
    </div>

    <!-- No event for period -->
    <div *ngIf="eventGroup.events.length === 0" class="no-events">
      <span>No events for this period.</span>
    </div>

    <!-- There are events for this period  -->
    <ul *ngIf="eventGroup.events.length > 0">
      <!--        (click)="onEventClick(event, $event)"-->
      <li
        [ngStyle]="{
          color: event.color?.secondaryText,
          backgroundColor: event.color?.secondary,
          borderColor: event.color?.primary
        }"
        *ngFor="let event of eventGroup.events"
      >
        <!-- Information inside each event  -->
        <strong class="event-title">{{ event.title }}</strong>
        <span>
          {{ event.start | date : "shortTime" }} -
          {{ event.end | date : "shortTime" }}
        </span>
      </li>
    </ul>
  </div>
</div>
