body {
  font-family: "Arial", sans-serif;
  font-style: normal;
  height: 100%; /* Ensure the html and body take full height */
  margin: 0; /* Remove default margins */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
