<div class="calendar-container">
  <div class="calendar-header-container">
    <div class="stepper-container">
      <div class="material-icons" (click)="goToPreviousStep(dayPickerViewMode)">
        chevron_left
      </div>
      <span class="calendar-header">
        {{
          dayPickerViewMode === "month"
            ? (viewDate | date : "MMMM yyyy")
            : "W" + (viewDate | date : "w") + ", " + (viewDate | date : "yyyy")
        }}
      </span>
      <div class="material-icons" (click)="goToNextStep(dayPickerViewMode)">
        chevron_right
      </div>
    </div>
    <span class="toggle-icon" (click)="toggleView()">
      <mat-icon>{{
        dayPickerViewMode === "month"
          ? "keyboard_arrow_down"
          : "keyboard_arrow_up"
      }}</mat-icon>
    </span>
  </div>

  {{ viewDate }}

  <!-- Week view -->
  <ng-container *ngIf="dayPickerViewMode === 'week'">
    <div class="week-container">
      <div class="week-view">
        <div *ngFor="let day of currentWeekDays">
          <div class="day-label-week-view">
            {{ dayOfWeekAbbreviations[getAdjustedDayIndex(day.date)] }}
          </div>
          <div
            class="day-of-the-week"
            [class.selected]="day.date | isSelectedDay : viewDate"
            (click)="onDateClick(day.date)"
          >
            {{ day.dayNumber }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Month view -->
  <ng-container *ngIf="dayPickerViewMode === 'month'">
    <div class="month-container">
      <div class="day-label-month-view">
        <div *ngFor="let day of dayOfWeekAbbreviations">{{ day }}</div>
      </div>
      <div class="week-row" *ngFor="let week of currentMonthDays">
        <div
          class="day-of-the-month"
          *ngFor="let day of week"
          (click)="onDateClick(day.date)"
        >
          <div
            [class.selected]="day.date | isSelectedDay : viewDate"
            [class.other-month]="!(day.date | isSameMonth : viewDate)"
          >
            {{ day.dayNumber }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
