<div class="calendar-container" #calendar>
  <!-- Week view -->
  <ng-container *ngIf="dayPickerViewMode === 'week'">
    <div class="week-container">
      <div class="week-view">
        <div *ngFor="let day of currentWeekDays; trackBy: trackByDate">
          <div class="day-label-week-view">
            {{ dayOfWeekAbbreviations[getAdjustedDayIndex(day.date)] }}
          </div>
          <div
            class="day-of-the-week"
            [class.selected]="day.date | isSelectedDay : viewDate"
            [class.today]="
              isToday(day.date) && !(day.date | isSelectedDay : viewDate)
            "
            (touchend)="onDateClick(day.date)"
          >
            <div class="day-content">
              <div class="first-day-of-month" *ngIf="day.dayNumber === 1">
                {{ day.date | date : "MMM" }}
              </div>
              <div>
                {{ day.dayNumber }}
              </div>
              <div class="booking-indicators">
                <ng-container
                  *ngFor="let _ of getIndicatorDisplay(day.date).dots"
                >
                  <div class="booking-indicator"></div>
                </ng-container>
                <div
                  class="plus-indicator"
                  *ngIf="getIndicatorDisplay(day.date).showPlus"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Month view -->
  <ng-container *ngIf="dayPickerViewMode === 'month'">
    <div class="month-container">
      <div class="day-label-month-view">
        <div *ngFor="let day of dayOfWeekAbbreviations; trackBy: trackByIndex">
          {{ day }}
        </div>
      </div>
      <div class="week-row" *ngFor="let week of currentMonthDays">
        <div
          class="day-of-the-month"
          *ngFor="let day of week"
          (touchend)="onDateClick(day.date)"
        >
          <div
            class="day-of-the-month"
            [class.selected]="day.date | isSelectedDay : viewDate"
            [class.today]="
              isToday(day.date) && !(day.date | isSelectedDay : viewDate)
            "
            [class.other-month]="
              !(day.date | isSameMonth : datePickerReferenceDate)
            "
          >
            <div class="day-content">
              <div class="first-day-of-month" *ngIf="day.dayNumber === 1">
                {{ day.date | date : "MMM" }}
              </div>
              <div>
                {{ day.dayNumber }}
              </div>
              <div class="booking-indicators">
                <ng-container
                  *ngFor="let _ of getIndicatorDisplay(day.date).dots"
                >
                  <div class="booking-indicator"></div>
                </ng-container>
                <div
                  class="plus-indicator"
                  *ngIf="getIndicatorDisplay(day.date).showPlus"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="scroll-indicator-container">
    <div class="scroll-indicator"></div>
  </div>
</div>
